<a href="../controllers/RegisterController.php"></a>
<a href="../assests/css/register.css"></a>
<a href="../assests/css/login.css"></a>
<a href="../views/Register.php"></a>

<img src="../assests/img/hotel2.png"/>
<a class="navbar-brand" href="../views//Lesseegalery.php">

    <input class="text" id="signup-username" type="date" placeholder="Nombre de usuario" name ="signup-username" id="signup-username" required>
    <li><a href="../views/Newhomelessor.php"> 

        <link rel="stylesheet" href="../assests/css/NewHome.css">
        <link rel="stylesheet"  href="../assests/css/banerLessor.css">




