@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');

/*-----------------------------------------------------------------------*/
/*-----------------------------slider de imagenes------------------------*/
/*-----------------------------------------------------------------------*/
body{
    overflow-y: scroll;
    font-family: Arial, Helvetica, sans-serif;
 }

.banner{
	width: 100%;
	height: 75vh;
	background-color: #F5F5F5;
	background-size: cover;
	background-position: center;
	transition: all .1s ease-out;
	background-image: url(../img/corcoran-valley-bamboo.jpg);
	animation: banner 28s infinite linear;
	width: 100%;
	margin: 0;
	padding: 0;
}
.banner-content{
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	color: #FFF;
	background-color: #4d4d4d81;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.banner-content h1{
    margin: 0;
	padding: 0;
	padding-bottom: 30px;
	font-size: 40px;
	text-align: center;
    color: #FF914D;
    font-family: 'Satisfy', cursive;
    text-shadow: 0.1em 0.1em 5px rgb(0 0 0 / 70%);
}

.banner-content h2{
    display:block;
    padding: 20px;
    font-weight: 600;
	text-align: center;
	color: rgb(255, 255, 255);
	line-height: 30px;/*hace que las palabras se separen creo*/
}


@keyframes banner{
	0%{
		background-image: url(../img/corcoran-valley-bamboo.jpg);
        /* opacity: 0.5; */
	}
	25%{
        background-image: url(../img/corcoran-valley-bamboo.jpg);
        /* opacity: 0.5; */
    }


	26%{
		background-image: url(../img/photo1.jpg);
        /* opacity: 0.5; */
	}
	50%{
		background-image: url(../img/photo1.jpg);
        /* opacity: 0.5; */
	}


	51%{
		background-image: url(../img/photo2.jpg);
        /* opacity: 0.5; */
	}
	75%{
		background-image: url(../img/photo2.jpg);
        /* opacity: 0.5; */
	}
	

	76%{
		background-image: url(../img/photo3.jpg);
        /* opacity: 0.5; */
	}
	100%{
		background-image: url(../img/photo3.jpg);
        /* opacity: 0.5; */
	}

}


/*INformation*/
.information h1{
    margin: 50px;
    text-align: center;
    color: #FF914D;
    /* font-family: 'Satisfy', cursive; */

}

.reasons{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    text-align: center;

    margin: 50px;
}

.reasons .Circle{
    width: 250px;
    height: 250px;
    margin-top: 30px;
    margin-left: 70px;
    border-radius: 50%;
    /* background-color: yellow; */
    background-image: url(../img/photo4.jpg);
    background-position: center;
    background-size: cover;
}

.protection h3{
    margin: 50px;
    font-weight: 800;
    text-align: center;
    color: #FF914D;
    /* font-family: 'Satisfy', cursive; */
}

.protection h4{
    margin: 50px;
}

.Tips{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;

    margin: 50px;
}

.Tips .Circle-two{
    width: 150px;
    height: 150px;
    margin-left: 70px;
    margin-top: 20px;
    border-radius: 50%;
    background-image: url(../img/photo11.jpg);
    background-position: center;
    background-size: cover;
}

.Tips .Circle-tree{
    width: 250px;
    height: 250px;
    margin-left: 100px;
    border-radius: 50%;
    /* background-color: yellow; */
    background-image: url(../img/photo10.jpg);
    background-position: center;
    background-size: cover;
}

.Tips .Circle-four{
    width: 150px;
    height: 150px;
    margin-left: 260px;
    border-radius: 50%;
    background-image: url(../img/photo12.jpg);
    background-position: center;
    background-size: cover;
}


@media (max-width: 800px) {
    .reasons{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        text-align: center;
    
        margin: 50px;
    }
    .reasons .Circle{
        width: 100%;
        height: 250px;
        margin-top: 50px;
        margin-left: 0%;
        border-radius: 20px;
        background-image: url(../img/photo4.jpg);
        background-position: center;
        background-size: cover;
    }

    .protection h4{
        margin: 10px;
    }

    .Tips{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
    
        margin: 50px;
    }
    
    .Tips .Circle-two{
        width: 150px;
        height: 150px;
        margin-left: 0px;
        margin-top: 20px;
        border-radius: 50%;
        background-image: url(../img/photo11.jpg);
        background-position: center;
        background-size: cover;
    }
    
    .Tips .Circle-tree{
        width: 250px;
        height: 250px;
        margin-left: 0px;
        margin-top: 30px;
        border-radius: 50%;
        /* background-color: yellow; */
        background-image: url(../img/photo10.jpg);
        background-position: center;
        background-size: cover;
    }
    
    .Tips .Circle-four{
        width: 150px;
        height: 150px;
        margin-left: 0px;
        margin-top: 30px;
        border-radius: 50%;
        background-image: url(../img/photo12.jpg);
        background-position: center;
        background-size: cover;
    }
}

@media (width: 768px) {
    .protection h4{
        margin: 20px 10px
    }
    .Tips .Circle-two{
        width: 100%;
        height: 150px;
        margin-left: 0px;
        margin-top: 20px;
        border-radius: 20px;
        background-image: url(../img/photo11.jpg);
        background-position: center;
        background-size: cover;
    }
    
    .Tips .Circle-tree{
        width: 100%;
        height: 250px;
        margin-left: 0px;
        margin-top: 30px;
        border-radius: 20px;
        /* background-color: yellow; */
        background-image: url(../img/photo10.jpg);
        background-position: center;
        background-size: cover;
    }
    
    .Tips .Circle-four{
        width: 100%;
        height: 150px;
        margin-left: 0px;
        margin-top: 30px;
        border-radius: 20px;
        background-image: url(../img/photo12.jpg);
        background-position: center;
        background-size: cover;
    }
}