@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');
* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    overflow-x: hidden;
}

form {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    align-content: space-around;
    background-color: rgb(255, 255, 255);
    width: 90%;
    padding: 15px;
    margin: 10px;
    margin-left: 50px;
    border-radius: 20px;
}

.fieldset label {
    color: rgb(0, 0, 0);
    margin-left: 20px;
}

.fieldset .fas {
    font-size: 25px;
    color: #FF914D;
    margin-left: 20px;
    margin-right: 10px;
}

.fieldset .date {
    font-size: 20px;
    width: 70%;
    padding: 10px;
    border: none;
}

.fieldset .button {
    background-color: #FF914D;
    color: white;
    border: none;
    text-align: center;
    margin: 10px 50px;
    padding: 10px;
    border-radius: 20px;
    width: 80%;
    outline:none;
}

.fieldset .button:hover {
    background-color: #EB600A;
    color: white;
    outline:none;
}

.galery {
    background-color: #ff914d60;
}

.galery h1 {
    font-family: 'Satisfy', cursive;
    color: #ffffff;
    font-weight: 600;
    font-size: 40px;
    text-align: center;
    text-shadow: 0.2em 0.1em 3px #33333382;
}


/* --------------- */


/*  card-oneS          */


/* --------------- */

.contedor-tarjetas {
    width: 100%;
    height: calc(100% - 200px);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.card-one {
    width: 320px;
    height: 520px;
    border-radius: 30px;
    box-shadow: -2px 9px 16px 0px rgb(0 0 0 / 27%);
    overflow: hidden;
    margin: 20px;
    text-align: center;
    transition: all 0.25s;
    font-family: 'Arial, Helvetica, sans-serif';
    color: rgb(2, 2, 2);
    background-color: hsla(0, 0%, 100%, 0.568);
    font-size: 15px;
    float: left;
}

.card-one:hover {
    transform: translatey(-2%);
    box-shadow: 0 12 px 16 px rgba (0, 0, 0, 0.2);
}

.card-one img {
    height: 300px;
    width: 320px;
}

.fa {
    color: #FF914D;
    margin-left: 20px;
    margin-right: 10px;
}

.card-one h4 {
    font-family: 'Satisfy', cursive;
    color: #FF914D;
    margin-top: 20px;
}

.contedor-tajetas .card-one p {
    padding: 0 1rem;
    font-size: 30%;
    font-weight: 300;
}

.contedor-tarjetas .card-one button {
    background-color: #FF914D;
    color: white;
    border: none;
    text-align: center;
    margin: 10px 50px;
    padding: 10px;
    border-radius: 20px;
    width: 100px;
    outline:none;
}

.contedor-tarjetas .card-one button:hover {
    background-color: #EB600A;
    color: white;
    outline:none;
}


/*Responsive*/

@media (max-width: 640px) {
    body {
        font-family: Arial, Helvetica, sans-serif;
        margin: 0;
        overflow-x: hidden;
    }
    form {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        align-content: space-around;
        background-color: rgb(255, 255, 255);
        width: 90%;
        padding: 15px;
        margin: 10px;
        margin-left: 20px;
        border-radius: 20px;
    }
    .fieldset label {
        color: rgb(0, 0, 0);
        margin-left: 20px;
    }
    .fieldset .fas {
        font-size: 25px;
        color: #FF914D;
        margin-left: 20px;
        margin-right: 10px;
    }
    .fieldset .date {
        font-size: 20px;
        width: 70%;
        padding: 10px;
        border: none;
    }
    .fieldset .button {
        background-color: #FF914D;
        color: white;
        border: none;
        text-align: center;
        margin: 0px 40px;
        margin-left: 20px;
        padding: 10px;
        border-radius: 20px;
        width: 80%;
        outline:none;
    }
    .fieldset .button:hover {
        background-color: #EB600A;
        color: white;
        outline:none;
    }
    .galery {
        background-color: #ff914d60;
    }
    .galery h1 {
        font-family: 'Satisfy', cursive;
        color: #ffffff;
        font-weight: 600;
        font-size: 40px;
        text-align: center;
        text-shadow: 0.2em 0.1em 3px #33333382;
    }
}

