@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');
body {
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    height: calc(100% - 200px);
}

/* -------------- */


/*      BANNER    */


/* -------------- */

.banner {
    width: 50%;
    height: 20vh;
    box-shadow: -2px 9px 16px 0px rgb(0 0 0 / 27%);
    background-color: #FF914D;
    background-size: cover;
    background-position: center;
    width: 100%;
    margin: 0;
    padding: 0;
}

.banner-content {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    color: #FFF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.banner-content h1 {
    margin: 10px 10px;
    padding: 0;
    text-align: center;
    color: #ffffff;
    font-family: 'Satisfy', cursive;
    text-shadow: 0.1em 0.1em 5px rgb(0 0 0 / 70%);
}


/* --------------- */


/*  CARDS          */


/* --------------- */
.container-two{
    height: calc(69vh - 200px);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-two h1 {
    margin-top: 5%;
    padding: 0;
    padding-bottom: 30px;
    text-align: center;
    color: #FF914D;
    font-family: 'Satisfy', cursive;
}

.container{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    flex-wrap: wrap;
    height: calc(100% - 200px);
}

.card {
    height: auto;
    border-radius: 30px;
    box-shadow: -2px 9px 16px 0px rgb(0 0 0 / 27%);
    overflow: hidden;
    margin: 20px;
    font-family: 'Arial, Helvetica, sans-serif';
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    font-size: 15px;
}

.card img{
    width: 100%;
}


.card h3 {
    font-size: 40px;
    text-align: center;
    color: #FF914D;
    font-family: 'Satisfy', cursive;
    padding-top: 10px;
}

.card .card-text {
    display: block;
    font-size: 20px;
    text-align: center;
    margin: 10px;
    height: auto;
}


.card .list-group{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    list-style: none;
    margin: 5px;
    margin-top: 20px;
    align-items: center;
    justify-content: center;
}

.card .list-group-two{
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
}

.list-group-item{
    margin: 10px 0px;
}
/* ICONS */

.fa-bed {
    color: #FF914D;
    margin-left: 20px;
    margin-right: 10px;
}

.fa-bath {
    color: #FF914D;
    margin-left: 20px;
    margin-right: 10px;
}

.fa-parking {
    color: #FF914D;
    margin-left: 20px;
    margin-right: 10px;
}

.fa-wifi {
    color: #FF914D;
    margin-left: 20px;
    margin-right: 10px;
}

.fa-dollar-sign {
    color: #FF914D;
    margin-left: 20px;
    margin-right: 10px;
}

.card .buttons{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
}

.btn-primary {
    background-color: #FF914D;
    color: white;
    border: none;
    margin: 8px auto;
    padding: 5px;
    border-radius: 20px;
    width: 100px;
}

.btn-primary i{
    padding: 5px;
    margin: 0px 5px;
}

.btn-primary:hover {
    background-color: #8db469;
    color: white;
}

.btn-danger {
    background-color: #FF914D;
    color: white;
    border: none;
    margin: 8px auto;
    padding: 5px;
    border-radius: 20px;
    width: 100px;
}

.btn-danger i{
    padding: 5px;
    margin: 0px 5px;
}

.btn-danger:hover {
    background-color: #eb2c0a;
    color: white;
}

@media (max-width: 1005px) {
    .container{
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        flex-wrap: wrap;
        height: calc(100% - 200px);
    }
}

@media (max-width: 800px) {
    .container{
        width: 100%;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        flex-wrap: wrap;
        height: calc(100% - 200px);
    }
}

@media (width: 768px) {
    .container{
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        flex-wrap: wrap;
        height: calc(100% - 200px);
    }
}

@media (width: 1024px) {
    .container{
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        flex-wrap: wrap;
    }

    .card .list-group{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        list-style: none;
        margin: 5px;
        margin-top: 20px;
        align-items: center;
        justify-content: center;
    }
    .list-group-item{
        margin: 10px 0px;
        font-size: 25px;
    }

    .btn-primary {
        background-color: #FF914D;
        color: white;
        border: none;
        margin: 8px auto;
        padding: 5px;
        border-radius: 30px;
        width: 200px;
        font-size: 20px;
    }
    
    .btn-primary i{
        padding: 5px;
        margin: 0px 5px;
    }
    
    .btn-primary:hover {
        background-color: #8db469;
        color: white;
    }
    
    .btn-danger {
        background-color: #FF914D;
        color: white;
        border: none;
        margin: 8px auto;
        padding: 15px;
        border-radius: 30px;
        width: 200px;
        font-size: 20px;
    }
    
    .btn-danger i{
        padding: 5px;
        margin: 0px 5px;
    }
    
    .btn-danger:hover {
        background-color: #eb2c0a;
        color: white;
    }
}