*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
html{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    overflow-x: hidden;
}

/* custom scroll bar */
::-webkit-scrollbar {
    width: 8px;
}
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 20px;
}

header {
    height: 100px;
    width: auto;
    background-color: rgb(255, 255, 255);
    border-radius: 0px 0px 25px 25px;
    box-shadow: 0px 4px 10px 3px rgb(0 0 0 / 13%);

    display: flex;
    justify-content: space-between;
    overflow-x: hidden;
}

#btn-menu{
    display: none;
}

header label {
    font-size: 30px;
    cursor: pointer;

    display: none;
}

header img{
    height: 80px;
    width: auto;
    display: block;
    margin: 0px 10px 10px 30px;
    padding-top: 10px;
    border-radius: 50px;
}

.menu{
    margin-top: 20px;
    overflow-x: hidden;
}

.menu ul{
    background-color: rgb(255, 255, 255);
    display: flex;
    list-style: none;
    /* margin-right: 20px; */
}

.menu a {
    display: block;
    padding: 15px 20px;
    color: rgb(0, 0, 0);
    text-decoration: none;
}


.menu a:hover {
    background-color: rgba(255, 166, 0, 0.466);
}

.menu a i{
    margin-left: 20px;
    color: #EB600A;
}

.menu ul li:hover ul {
    display: block;
    position: absolute;
    
    background-color: #ff914dce;
}


@media (max-width:910px) {

    /*Boton*/
    header label {
        display: block;
        margin-right: 40px;
        margin-top: 20px;
    }

    .menu {
        position: absolute;
        overflow-x: hidden;
        top: 80px;
        right: 0;
        width: 100%;
        transform: translateX(-200%);
        transition: all.3s ease;
    }

    .menu ul {
        display: block;
        background: rgba(255, 255, 255, 0.644);
        /* border-radius: 0px 0px 30px 30px; */
    }


    .menu ul li:hover ul{
        display: none;
    } 

    
    .menu a i{
        position: absolute;
        margin-right: 20px;
        font-size: 20px;
        right: 30px;
        
    }

    #btn-menu:checked ~ .menu {
        transform: translateX(0%);
    }
    
}