@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');

*{
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    background-color: white;
}

.form{
    width: 90%;
    padding: 15px;
    margin: 10px;
    margin-left: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form .cd-form{
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 4px 10px 3px rgb(0 0 0 / 13%);
    margin-top: 150px;
    margin: 20px;
    padding: 30px;
    border-radius: 20px;
}
.form .cd-form h1{
    text-align: center;
    padding-top: 10px;
    color: #FF914D;
    font-family: 'Satisfy', cursive;
}

.container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    background-color: rgb(255, 255, 255);
}

.fieldset label{
    color: rgb(0, 0, 0);
    margin-left: 20px;
}

 .fieldset .fas {
    font-size: 25px;
    color: #FF914D;
    margin-left: 20px;
    margin-right: 10px;
}


.fieldset .text{
    font-size: 20px;
    width: 90%;
    padding: 10px;
    border: none;
}

.fieldset .number{
    font-size: 20px;
    width: 80%;
    padding: 10px;
    border: none;
}


.fieldset .button{
    background-color: #FF914D;
    color: white;
    border: none;
    text-align: center;
    margin: 10px 50px;
    padding: 10px;
    border-radius: 20px;
    width: 80%;
    outline:none;
    
}

.fieldset .button:hover{
    background-color: #EB600A;
    color: white;
    outline:none;
}

.div-fill{
    position: relative;
    cursor: pointer;
    margin: 20px auto;
    padding: 10px;
    width: 150px;
    height: 50px;
    background-color: #FF914D;
    text-align: center;
    color: white;
    -webkit-border-radius: 50px;
    -webkit-box-shadow: -1px 6px 16px #0000005c;
}


.div-fill:hover{
    position: relative;
    margin: 20px auto;
    padding: 10px;
    width: 150px;
    background-color: #EB600A;
    text-align: center;
    color: white;
    -webkit-border-radius: 50px;
}

.div-fil i{
    color: red;
}
.div-fil .update-box{
    text-align: center;
    color: white;
}

#main-picture{
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    width: 150px;
    height: 50px;
    opacity: 0;
    cursor: pointer;

}

#additional-images{
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    width: 150px;
    height: 50px;
    opacity: 0;
    cursor: pointer;

}

#additional-images-2{
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    width: 150px;
    height: 50px;
    opacity: 0;
    cursor: pointer;

}

/* .fieldset .update-box{
    font-size: 20px;
    width: 90%;
    padding: 10px;
    border: none;
    outline: none;
}

::-webkit-file-upload-button{
    background-color: #FF914D;
    color: white;
    border: none;
    text-align: center;
    padding: 10px;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    outline:none;
    cursor: pointer;
}

::-webkit-file-upload-button:hover{
    background-color: #EB600A;
    color: white;
    outline:none;
} */

option{
    font-size: 20px;
    width: 80%;
    padding: 10px;
    border:orange;
}


@media (max-width: 800px) {
    .form{
        width: 90%;
        padding: 15px;
        margin: 10px;
        margin-left: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .container{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        background-color: rgb(255, 255, 255);
    }

    .fieldset .button{
        background-color: #FF914D;
        color: white;
        border: none;
        text-align: center;
        margin: 10px 50px;
        padding: 10px;
        border-radius: 20px;
        width: 60%;
        outline:none;
        
    }
    
    .fieldset .button:hover{
        background-color: #EB600A;
        color: white;
        outline:none;
    }
}
@media (width: 1024px) {
    .form{
        width: 90%;
        height: 1110px;
        padding: 15px;
        margin: 10px;
        margin-left: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

}
