@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');

*{
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    background-color: rgba(253, 179, 110, 0.164);
    overflow-y: hidden;
}

.container{
    display: grid;
    grid-template-columns: 80% 20%;
    grid-template-rows: 1fr;
}

.form{
    width: 90%;
    padding: 15px;
    margin: 10px;
    margin-left: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cd-form{
    background-color: rgb(255, 255, 255);
    margin-top: 150px;
    margin: 20px;
    padding: 30px;
    border-radius: 20px;
}
.cd-form h1{
    text-align: center;
    padding-top: 10px;
    color: #FF914D;
    font-family: 'Satisfy', cursive;
}

.cd-form .container{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 1fr;

}
.fieldset label{
    color: rgb(0, 0, 0);
    margin-left: 20px;
}

.fieldset .fas {
    font-size: 25px;
    color: #FF914D;
    margin-left: 20px;
    margin-right: 10px;
}


.fieldset .text{
    font-size: 20px;
    width: 80%;
    padding: 10px;
    border: none;
}

.fieldset .password{
    font-size: 20px;
    width: 50%;
    padding: 10px;
    border: none;
}

.fieldset .button{
    background-color: #FF914D;
    color: white;
    border: none;
    text-align: center;
    margin: 10px 50px;
    padding: 10px;
    border-radius: 20px;
    width: 80%;
    
}

.fieldset .button:hover{
    background-color: #EB600A;
    color: white;
}

option{
    font-size: 20px;
    width: 80%;
    padding: 10px;
    border:orange;
}

.terms{
    height: 650px;
    overflow-x: hidden;
    overflow-y: scroll;
    margin-top: 50px;
}

.terms h4{
    text-align: center;
}



@media (max-width: 800px) {
    .container{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }

    .form{
        width: 90%;
        padding: 15px;
        margin: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .cd-form .container{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
    
    }

    .fieldset .text{
        font-size: 20px;
        width: 65%;
        padding: 10px;
        border: none;
    }
    
    .fieldset .password{
        font-size: 20px;
        width: 35%;
        padding: 10px;
        border: none;
    }
    
    .fieldset .button{
        background-color: #FF914D;
        color: white;
        border: none;
        text-align: center;
        margin: 10px 50px;
        padding: 10px;
        border-radius: 20px;
        width: 60%;
        
    }
    
    .fieldset .button:hover{
        background-color: #EB600A;
        color: white;
    }

    .terms{
        height: 250px;
        overflow-x: hidden;
        overflow-y: scroll;
        margin-top: 50px;
        margin-bottom: 50px;
    }
}

@media (height: 1366px) {
    .form{
        width: 90%;
        padding: 15px;
        margin: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 1110px;
    }

    .terms{
        height: 750px;
        overflow-x: hidden;
        overflow-y: scroll;
        margin-top: 150px;
    }

}
