*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
   }
   
   body{
    background: #ffffff;
   }

   .navbar {
       background-color: hsl(0, 20%, 96%);
       height: 40%;
    }
   .logo {
       width: 25%;
       height: 25%;
   } 

   .formdate{
    float:left;
   
     
       
   }

   .title {
       color:  #ff9100 ;
       align-items: center;
       display: flex;
   }
   
   
   /* --------------- */
   /*  HEADER&MENU    */
   /* --------------- */
   header{
    width: 100%;
   }
   
   .navegacion{
    width: 1000px;
    margin: 30px auto;
    background: rgb(5, 5, 5);
   }
   
   .navegacion ul{
    list-style: none;
   }
   
   .menu > li{
    position: relative;
    display: inline-block;
   }
   
   .menu > li > a{
    display: block;
    padding: 15px 20px;
    color: #fffbfb;
    font-family: 'Open sans';
    text-decoration: none;
   }
   
   .menu li a:hover{
    color: #ff9100;
    transition: all .3s;
   }
   
   /* Submenu*/
   
   .submenu{
    position: absolute;
    background: hsl(0, 0%, 100%);
    width: 180%;
    visibility: hidden;
    opacity: 0;
    transition: opacity 1.5s;
    border-radius: 8px;
   }
   
   .submenu li a{
    display: block;
    padding: 15px;
    color: rgb(3, 3, 3);
    font-family: 'Open sans';
    text-decoration: none;
   }
   
   .menu li:hover .submenu{
    visibility: visible;
    opacity: 1;
   }
   
   
   /* --------------- */
   /*  CARDS          */
   /* --------------- */
   
   /*.contenedor-tarjetas {
    width: 100%;
    max-width: 1200px;
    height: 430;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
    align-items: center;
    
     }*/
     
     .card{
    width: 500px;
    height: 500px;
    border-radius: 30px;
    box-shadow: 0 2px 2px rgb(0, 0, 0);
    overflow: hidden;
    margin:20px;
    text-align: center;
    transition: all 0.25s;
    font-family: 'Bodoni Moda', serif;
    color: rgb(2, 2, 2);
    background-color: hsl(0, 0%, 100%);
    font-size: 15px;
    float:left;
     
     }
     
     .card:hover{
    transform: translatey(-2%);
    box-shadow: 0 12 px 16 px rgba (0, 0, 0, 0.2);
     
     }
     
     .card img{
    width: 500px;
    height: 320px;
    border-radius: 30px;
   
    
     }
     
     .contenedor-tajetas .card h4 {
    font-size: 30%;
     }
     
     .contenedor-tajetas .card p {
    padding: 0 1rem;
    font-size: 30%;
    font-weight: 300;
     }
   